@import 'philly-styles/values'; // illustration partial
$project-serif: 'Teko', $philly-sans;

.footerNav {
  overflow: hidden;
    padding: 50px 8% 0;
    margin-top: 100px;
    position: relative;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%);
    @include tablet {
        padding: 70px 20px 20px 20px;
    };
    @include mobile {
        background: -moz-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%);
        background: -webkit-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
        background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
        padding: 60px 20px 20px 20px;
    };

    h2 {
        font-family: $project-serif;
        font-size: 50px;
        padding-left: 10%;
        @include tablet {
            padding-left: 20%;
        };
        @include mobile {
            font-size: 35px;
            padding-left: 0;
        };

        .subhead {
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 30px;
            @include tablet {
                display: block;
                margin-top: -12px;
            };
            @include mobile {
                font-size: 22px;
                display: block;
                margin-top: -8px;
                padding-bottom: 15px;
            };
        }
    }
    .footintro {
        font-family: $project-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 22px;
    }

    .byline {
        padding-left: 10%;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -10px;
        font-size: 20px;
        font-weight: 500;
        color: #222;
        font-family: $philly-sans;

        @include tablet {
            padding-left: 20%;
        };
        @include mobile {
            padding-left: 0;
        };
    }

    p {
        padding-left: 10%;
        // font-family: $philly-sans;
        padding-right: 10%;

        @include tablet {
            padding-left: 20%;
        };
        @include mobile {
            padding-left: 0;
        };
    }

    .footertabs {
        @include display-flex;
        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
        };
        @include mobile {
            flex-wrap: wrap;
            margin-left: -20px;
            margin-right: -20px;
            justify-content: center;
        };

        .part {
            @include display-flex;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            @include flex(1);
            text-align: center;
            line-height: 1.3em;
            // color: white;
            // background: #222;
            padding: 15px;
            margin: 5px;
            border: 1px solid #ddd;

            cursor: pointer;
            @include transition(all .5s ease);
            @include tablet {
                    @include flex(0 0 30%);
            };
            @include mobile {
                padding: 10px;
                @include flex(1 1 100%);
                margin: 3px 5px;
            };

            &:hover {
                @include transition(all .5s ease);
                background: black;
                color: white;
            }

            .name {
                font-family: $philly-sans;
                font-weight: 100;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 2px;
                @include flex(1 1 100%);
                @include mobile {
                    font-size: 17px;
                    letter-spacing: 1.5px;
                };
            }

            .pubdate {
                font-family: $project-serif;
                font-weight: 300;
                font-size: 16px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                @include flex(1 1 100%);
                padding-top: 5px;
            }
        }
        .selected {
            background: #f9f5d8;
            color: black;
            border: none;
        }

        .notready {
            // background: #ddd;
            pointer-events: none;
              color: #adadad;


            .pubdate {
                &::before {
                    content: "COMING ";
                }
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: -2.5%;
        top: 20px;
        height: 58%;
        right: 50%;
        z-index: -1;
        background-image: url('http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/lockhart_promo.jpg');
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        // opacity: 0.5;
        border-top: 2px solid black;
        @include tablet {
            height: 50%;
            left: -15%;
            // top: -30px;
        };
        @include mobile {
            bottom: 0;
            right: -20%;
            background-position: right;
            height: 30%;

        };
    }
}
.credits {
    width: 100%;
    padding: 50px 20px 20px;
    @include display-flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    font-family: $philly-sans;
    @include mobile {
        padding-bottom: 0;
    };

    .creditItem {
        padding: 6px 20px;

        .title {
            font-weight: 100;
            color: gray;
            @include mobile {
                font-size: 13px;

            };
        }
        font-weight: 500;
        color: #222;
        font-size: 14px;
        @include tablet {
            padding: 1px 10px;
            font-size: 14px;
        };
        @include mobile {
            text-align: center;
        };
    }
}
