@import 'longform-styles';
@import 'philly-styles/values'; // illustration partial
$project-serif: 'Teko', $philly-serif;
@import 'aos.css';


.section-break {
  width: 100%;
  // border-bottom: 5px solid #444;
  margin:50px 0;
  text-align: center;
  font-size: 40px;

}


.illustration-wrapper {
  position: relative;
  width: 100%;
}

.illustration.absolute {
  position: absolute;
  z-index: -1;
}

.illustration.absolute.left {
  left: 0;
}

.illustration.absolute.center {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.illustration.absolute.right {
  right: 0;
}

.illustration.inline {
  position: relative;
}

.illustration.inline.left {
  float: left;
  margin-left: -20%;
  margin-right: 20px;
  @include tablet {
    margin-left: 0;
    margin-right: 10px;
  }
  @include mobile {
    width: 100%;
  }
}

.illustration.inline.center {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.illustration.inline.right {
  float: right;
  margin-right: -20%;
  margin-left: 20px;
  @include tablet {
    margin-right: 0;
    margin-left: 10px;
  }
  @include mobile {
    width: 100%;
  }
}

.container {
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+95&0+0,1+23,1+50,1+73,0+97 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.04) 1%, rgba(255,255,255,0.6) 17%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.6) 83%, rgba(255,255,255,0.04) 95%, rgba(255,255,255,0) 97%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 1%,rgba(255,255,255,0.6) 17%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.6) 83%,rgba(255,255,255,0.04) 95%,rgba(255,255,255,0) 97%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 1%,rgba(255,255,255,0.6) 17%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.6) 83%,rgba(255,255,255,0.04) 95%,rgba(255,255,255,0) 97%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-9 */
  }
}

.containerQuote {
    border-top: 5px solid #444;
    border-bottom: none;
    margin-left: -20%;
    max-width: 60%;
}

.containerQuoteText {
    font-family: 'Teko', $philly-serif;;
    font-weight: 400;
    line-height: 1.25em;
    font-size: 36px;
    text-align: left !important;
    text-transform: uppercase;
    color: #444;
}



.containerQuoteSource {
    color: #888;
    font-family: $philly-sans;
    font-size: 16px;
}


//

.header {
  position: absolute !important;
}

.subscribetoday__wrap {
  position: absolute !important;
}
@include keyframes(zoomIn) {
  0% {
    @include transform(translateY(-100%))
  }

  100% {
    @include transform(translateY(0))
  }
};

.scrollIn {
  @include transform(translateY(-100%));
  @include animation(zoomIn .5s ease forwards);
  position: fixed !important;
}
@include keyframes(zoomOut) {
  0% {
    @include transform(translateY(0))
  }

  100% {
    @include transform(translateY(-100%))
  }
};

.scrollOut {
  @include transform(translateY(0));
  @include animation(zoomOut .5s ease forwards);
  position: fixed !important;
}

.heroNav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  @include display-flex;
  z-index: 10;
  padding-top: 0;
  @include mobile {
    display: none;
  };

  .part {
    @include flex(1);
    text-align: center;
    line-height: 1.3em;
    background: rgba(white,0.8);
    padding: 20px 0 8px;
    cursor: pointer;
    @include transition(all .5s ease);
    @include mobile {
      padding: 13px 0 5px;
    };

    &:hover {
      @include transition(all .5s ease);
      background: black;
      color: white;
    }

    .name {
      font-family: $project-serif;
      font-weight: 500;
      font-size: 25px;
      @include mobile {
        font-size: 22px;
      };
    }

    .pubdate {
      font-family: $philly-sans;
      font-weight: 100;
      font-size: 25px;
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .notready {
    color: #666;

    .pubdate {
      &::before {
        content: "COMING ";
      }
    }

    &:hover {
      background: rgba(#eee,0.9);
      color: black;
      cursor: default;
    }
  }
}

.heroNavMobile {
  display: none;
  @include mobile {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    @include display-flex;
    z-index: 10;
    padding-top: 0;
  };
}

.subHead {
  font-weight: 100;
  font-family: 'Teko', $philly-serif;
  font-size: 37px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  @include mobile {
    font-size: 32px;
  };
}

.footerNav {
  padding: 8% 8% 0;
  position: relative;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
  @include tablet {
    padding: 20px;
  };
  @include mobile {
    background: none;
  };

  h2 {
    font-family: $project-serif;
    font-size: 50px;
    padding-left: 10%;
    @include tablet {
      padding-left: 5%;
    };
    @include mobile {
      font-size: 35px;
      padding-left: 0;
    };

    .subhead {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 30px;
      @include mobile {
        font-size: 22px;
        display: block;
        margin-top: -8px;
        padding-bottom: 15px;
      };
    }
  }

  p {
    padding-left: 10%;
    @include tablet {
      padding-left: 5%;
    };
    @include mobile {
      padding-left: 0;
    };
  }

  .footertabs {
    @include display-flex;
    @include mobile {
      flex-wrap: wrap;
      margin-left: -20px;
      margin-right: -20px;
      justify-content: center;
    };

    .part {
      @include display-flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      @include flex(1);
      text-align: center;
      line-height: 1.3em;
      color: white;
      background: #222;
      padding: 15px;
      margin: 5px;
      cursor: pointer;
      @include transition(all .5s ease);
      @include mobile {
        padding: 10px;
        @include flex(1 1 100%);
        margin: 3px 5px;
      };

      &:hover {
        @include transition(all .5s ease);
        background: rgba(white,0.8);
        color: black;
      }

      .name {
        font-family: $project-serif;
        font-weight: 500;
        font-size: 25px;
        @include flex(1 1 100%);
        @include mobile {
          font-size: 22px;
          letter-spacing: 0.5px;
        };
      }

      .pubdate {
        font-family: $philly-sans;
        font-weight: 100;
        font-size: 25px;
        font-size: 13px;
        text-transform: uppercase;
        @include flex(1 1 100%);
      }
    }

    .notready {
      background: #666;
      pointer-events: none;

      .pubdate {
        &::before {
          content: "COMING ";
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: -5%;
    top: 20px;
    // bottom: 40%;
    height: 58%;
    right: 50%;
    z-index: -1;
    background-image: url('./../../assets/lockhart_day2_f.jpg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;
    @include tablet {
      height: 40%;
      top: -30px;
    };
    @include mobile {
      top: -50px;
      bottom: 0;
      right: 0;
      background-position: right;
      height: 190px;
    };
  }
}

.headerIntro {
  position: relative;
  display: block;
  height: 100%;
  @include display-flex;
  margin-bottom: 50px;
  @include mobile {
    flex-wrap: wrap;
    margin-bottom: 20px;
  };

  .heroText {
    order: 1;
    @include flex(1 1 30%);
    padding: 20% 0 0 50px;
    @include display-flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    margin-right: -50px;
    z-index: 2;
    @include mobile {
       @include flex(1 1 100%);
      padding: 0 10px;
      margin: -6% 0 0;
    };
  }

  .heroImage {
    width: 100%;
    margin: 0;
    padding: 0;
    order: 2;
    margin-top: -9%;
    margin-right: -2.1%;
    margin-left: auto;
    @include flex(1 1 50%);
    @include mobile {
      // max-width: 80%;
      // position: absolute;
      // top: 5%;
      // right: 0;
      @include mobile {
         @include flex(1 1 100%);
        order: 1;
      };
    };

    img {
      width: 100%;
      height: auto;
    }
  }

  .title {
    font-family: 'Teko', $philly-serif;
    font-weight: 700;
    font-size: 7.7vw;
    max-width: 30%;
    line-height: 0.8em;
    letter-spacing: -.2vw;
    @include flex(1 1 100%);
    align-self: flex-start;
    padding-top: 50px;
    @include mobile {
      padding: 0;
      margin: 0;
      bottom: 0;
      order: 3;
    };
  }

  .part {
    font-family: 'Teko', $philly-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    @include flex(1 1 100%);
    align-self: flex-start;
    @include mobile {
      font-size: 20px;
      order: 2;
    };
  }

  h1 {
    font-family: 'Teko', $philly-serif;
    font-weight: 700;
    font-size: 65px;
    font-size: 4.6vw;
    line-height: 0.8em;
    position: absolute;
    bottom: 10%;
    max-width: 22%;
    @include tablet {
      font-size: 5.5vw;
      bottom: 0;
    };
    @include mobile {
      position: relative;
      bottom: inherit;
      font-size: 50px;
      max-width: none;
      order: 4;
      font-size: 55px;
      margin-bottom: 0;
      padding-top: 20px;
    };
  }
}

.imgDrop {
  font-family: $philly-serif;
  font-style: normal;
  line-height: 1;
  font-size: 8em;
  color: transparent;
  display: block;
  float: left;
  margin: 0 0.2em -0.1em 0;
  background-position: center;
  background-size: contain;
  padding: 0 40px 40px;
  margin-top: -10px;
}

.credits {
  width: 100%;
  padding: 50px 20px 20px;
  @include display-flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-family: $philly-sans;
  @include mobile {
    padding-bottom: 0;
  };

  .creditItem {
    padding: 6px 20px;

    .title {
      font-family: $project-serif;
      color: gray;
      font-size: 17px;
      letter-spacing: 1.5px;
      @include mobile {
        font-size: 16px;
      };
    }
    font-weight: 500;
    color: #222;
    font-size: 14px;
    @include tablet {
      padding: 1px 10px;
      font-size: 13px;
    };
  }
}
