@import 'longform-styles';
@import 'philly-styles/values';
@import 'footer.scss';
$project-serif: 'Teko', $philly-serif;




.section-break {
  width: 100%;
  // border-bottom: 5px solid #444;
  margin:50px 0;
  text-align: center;
  font-size: 40px;

}



.illustration-wrapper {
    position: relative;
    width: 100%;
}

.illustration.absolute {
    position: absolute;
    z-index: -1;
}

.illustration.absolute.left {
    left: 0;
}

.illustration.absolute.center {
    margin: 0 auto;
    left: 0;
    right: 0;
}

.illustration.absolute.right {
    right: 0;
}

.illustration.inline {
    position: relative;
}

.illustration.inline.left {
    float: left;
    margin-left: -20%;
    margin-right: 20px;
    @include tablet {
        margin-left: 0;
        margin-right: 10px;
    }
    @include mobile {
        width: 100%;
    }
}

.illustration.inline.center {
    margin: 0 auto;
    left: 0;
    right: 0;
}

.illustration.inline.right {
    float: right;
    margin-right: -20%;
    margin-left: 20px;
    @include tablet {
        margin-right: 0;
        margin-left: 10px;
    }
    @include mobile {
        width: 100%;
    }
}
//

.header {
    position: absolute !important;
}

.subscribetoday__wrap {
    position: absolute !important;
}
@include keyframes(zoomIn) {
    0% {
        @include transform(translateY(-100%))
    }

    100% {
        @include transform(translateY(0))
    }
};

.scrollIn {
    @include transform(translateY(-100%));
    @include animation(zoomIn .5s ease forwards);
    position: fixed !important;
}
@include keyframes(zoomOut) {
    0% {
        @include transform(translateY(0))
    }

    100% {
        @include transform(translateY(-100%))
    }
};

.scrollOut {
    @include transform(translateY(0));
    @include animation(zoomOut .5s ease forwards);
    position: fixed !important;
}

.subHead {
    font-weight: 100;
    font-family: $philly-sans;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 20px;
    @include mobile {
        font-size: 32px;
    };
}

.headerIntro {
    position: relative;
    display: block;
    height: 100%;
    @include display-flex;
    margin-bottom: 50px;
    @include mobile {
        flex-wrap: wrap;
        margin-bottom: 20px;
    };

    .heroText {
        order: 1;
        @include flex(1 1 30%);
        padding: 50px 0;
        @include display-flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: flex-start;
        margin-right: -50px;
        position: relative;
        z-index: 2;
        @include tablet {
             @include flex(1 1 40%);
            padding-top: 20px;
            margin-right: -50px;
        };
        @include mobile {
             @include flex(1 1 100%);
            margin: 0;
            padding: 30px 0 0;
        };
    }

    .heroImage {
        width: 100%;
        margin: 0;
        padding: 0;
        order: 2;
        margin-top: -9%;
        margin-right: -2.1%;
        margin-left: auto;
        @include flex(1 1 50%);
        @include mobile {
             @include flex(1 1 100%);
            order: 2;
            margin-top: -60px;
        };

        img {
            width: 100%;
            height: auto;
        }
    }

    h1 {
        font-family: 'Teko', $philly-serif;
        font-weight: 700;
        font-size: 8vw;
        line-height: 0.8em;
        color: black;
        position: absolute;
        bottom: 20%;
        width: auto;
        left: 50%;
        @include transform(translateX(-50%));
        @include tablet {
            font-size: 60px;
            font-size: 8.5vw;
            bottom: 0;
        };
        @include mobile {
            display: none;
        };
    }

    .heroNav {
        display: inline-block;
        margin: 0 auto;

        .title {
            font-family: 'Teko', $philly-serif;
            font-weight: 700;
            font-size: 40px;
            line-height: 0.8em;
            color: black;
            text-align: center;
            margin-bottom: 10px;
            padding-bottom: 10px;
            letter-spacing: -.5px;
            @include flex(0 1 auto);
            align-self: flex-start;
            padding-top: 20px;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                left: -20px;
                right: -20px;
                border-top: 1px solid #222;
                bottom: 0;
            }
            @include tablet {
                font-size: 26px;
                letter-spacing: normal;
                margin-bottom: 5px;
                padding-bottom: 5px;

                &::after {
                    content: "";
                    left: -5px;
                    right: -5px;
                    border-top: 1px solid #222;
                    bottom: 0;
                }
            };
            @include mobile {
                font-size: 30px;
                letter-spacing: normal;
                margin-bottom: 0;
                cursor: pointer;

                &::after {
                    content: "";
                    left: 50px;
                    right: 50px;
                    border-top: 1px solid #222;
                    bottom: 0;
                }
            };
        }
        @include mobile {
            display: block;
            width: 100%;
        };

        .parts {
            @include mobile {
                opacity: 0;
                @include transition(all .4s ease);
                height: auto;
                position: absolute;
                display: none;
                width: 100%;
                padding: 0 20%;
                background: rgba(white,0.95);
            };
        }

        .dropDown {
            @include transition(all .4s ease);
            opacity: 1;
        }

        .part {
            font-family: 'Teko', $philly-serif;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 40px;
            @include display-flex align-items: flex-start;
            align-content: flex-start;
            text-align: left;
            line-height: 1.4rem;
            padding: 4px 8px;
            cursor: pointer;
            @include transition(all .5s ease);
            @extend %smoothing;
            @include tablet {
                padding: 1px 5px;
                letter-spacing: 1px;
            };
            @include mobile {
                font-size: 20px;
                padding: 10px 50px;
                margin: 0 -50px;
            };

            .itemmarker {
                @include flex(0 0 15px);
                font-size: 20px;
            }

            .name {
                font-family: $philly-sans;
                font-weight: 100;
                font-size: 14px;
                color: gray;
                @include mobile {
                    line-height: 1.1;
                    color: black;
                };
            }

            .pubdate {
                font-family: $project-serif;
                font-weight: 300;
                font-size: 16px;
                letter-spacing: 0.5px;
                display: none;
                @include mobile {
                    display: block;
                };
            }

            &:hover {
                @include transition(all .5s ease);
                background: #f9f5d8;

                .pubdate {
                    display: block;
                }
            }
        }

        .selected {
            .name {
                font-weight: 400;
                color: black;
            }
        }

        .notready {
            color: #666;

            .pubdate {
                &::before {
                    content: "COMING ";
                }
            }

            &:hover {
                background: transparent;
                color: black;
                cursor: default;
            }
        }
    }

    .mobilehead {
        display: none;
        @include mobile {
            padding-left: 20px;
            display: block;
            position: relative;
            bottom: inherit;
            font-size: 50px;
            max-width: none;
            order: 4;
            font-size: 55px;
            margin-bottom: 0;
            padding-top: 20px;
        };
    }
}

.imgDrop {
    font-family: $philly-serif;
    font-style: normal;
    line-height: 1;
    font-size: 8em;
    color: transparent;
    display: block;
    float: left;
    margin: 0 0.2em -0.1em 0;
    background-image: url("http://media.philly.com/storage/inquirer/Graphics/test_dropcap.jpg");
    background-position: center;
    background-size: contain;
    padding: 0 40px 40px;
    margin-top: -10px;
}

@include keyframes(stickyFade){
    0%{opacity: 0}
    100%{opacity: 1}
};
.stickynav {
    display: none;
    @include BS-medium {
        background: rgba(white,0.9);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
        opacity: 0;
        @include animation(stickyFade .5s ease forwards);

        .stickyheader {
            font-family: $project-serif;
            font-weight: 700;
            font-size: 30px;
            line-height: 0.8em;
            color: black;
            text-align: left;
            letter-spacing: -.5px;
            position: relative;
            border-bottom: 1px solid black;
            padding-bottom: 5px;


            &::after {
                content:"\f107";
                 font-family: "FontAwesome";
                 font-size: 80%;
                 padding: 3px 3px 3px 5px;
            }

        }
        .menu {
            display: none;
        }
    };

}
