<div class="container " alignment="true">
  <div alignment="true" id="illustration_1-trigger" class="trigger">&nbps;</div>

  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-3" alignment="true">
      <div class="byline-section">
        <div class="byline">
          Story by <a href="mailto:dgambacorta@philly.com">David Gambacorta</a><br>
          <em> Illustrations by <a href="mailto:ajunod@phillynews.com">Amy Junod</a></em>
          <div class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">Wednesday, November 15, 2017</div>
      </div>
      <!-- <div class="subHead">Day Three: A Deadly Lie</div> -->

      <p class=""><span class="imgDrop letterH">H</span>e knew he was getting closer.</p>
      <p>Detective Joe Murray started to feel confident about the attempted murder case he was building against Michael Lockhart, but there were still so many loose threads.</p>



      <p>Single, with no children, he worked on the investigation even on his off days, which wasn&rsquo;t unusual. When his father would pop into his son&rsquo;s downtown apartment for a quick visit, he often found his son silently studying surveillance
        footage from one crime or another.</p>

      <div alignment="true" id="illustration_1" class="sticky sticky-bottom-left"><img src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day3/lockhart_day3_c_c.jpg"></div>


      <div id="illustration_1-trigger-release" class="trigger">&nbps;</div>
      <p>Murray had to figure out why Lockhart shot Lawrence Downs in broad daylight. The motive could help lead him to the identities of the other two gunmen, who were shown fleeing the scene in hazy surveillance footage.</p>
      <p>But then the detective received an unexpected call from the Bureau of Alcohol, Tobacco, Firearms and Explosives. An agent there had a question for him: Are you investigating a guy named Michael Lockhart?</p>
      <p>&ldquo;Why?&rdquo; Murray asked.</p>
      <div class="adUnitWrapper containerMedia adUnitWrapper-center" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-21" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-21');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>

      <p>The next few words were shocking enough to knock him backward. Lockhart, Murray was told, was working for the bureau.</p>
      <p>Murray had learned plenty about Lockhart since he was identified as one of the Downs shooters, but the detective didn&rsquo;t see&nbsp;<em>this</em>&nbsp;coming.</p>
      <p>Lockhart had sold numerous guns to the agency, pocketing thousands of dollars along the way.</p>
      <p>The feds routinely turned people like Lockhart into assets. Some might start out selling a handful of weapons to an agent under the guise of getting guns off the streets. But guys in Lockhart&rsquo;s shoes usually end up buying weapons or drugs
        for the ATF to help build cases against traffickers to work off their own legal woes.</p>
      {% set inline = ["illustration_2", "right", "60%", "0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day3/lockhart_day3_f.jpg","data-aos=fade-left data-aos-duration=2000"] %} {% include "partials/inline-illustration.html"%}



      <p>It&rsquo;s unclear how, exactly, Lockhart first ended up on the ATF&rsquo;s radar, but the bureau came to view him as a valuable resource. Nationwide, the agency had more than 1,800 registered informants that it paid about $4.3 million annually.
        Like all other ATF informants, Lockhart was supposed to follow strict rules that he would not commit any new crimes and he had to sign an agreement acknowledging he understood the&nbsp;bureau would terminate its arrangement with him if he did
        so.</p>
      <div alignment="true" id="illustration_3-trigger" class="trigger">&nbps;</div>
      <p>Murray realized Lockhart was more complicated than he&rsquo;d first thought. But he&rsquo;d seen people even in his own line of work dabble in elaborate deceptions. There were patrol cops who robbed drug dealers and&nbsp;<a href="https://www.nbcphiladelphia.com/news/local/Former-Philly-Police-Officers-Sentenced-for-Robbing-Drug-Dealers-290872271.html">sold heroin</a>,
        and even a detective who tried to help his girlfriend&nbsp;<a href="http://www.philly.com/philly/news/crime/Ex-Philly-homicide-detective-pleads-guilty-to-helping-girlfriend-flee-murder-charge.html">get away with murder</a>. Living a lie could
        be easy if you had enough practice.</p>
      <p>Murray and his then-boss, Lt. John Walker, met with members of the ATF, along with Cydney Pope, a no-nonsense Philly assistant district attorney who prosecuted cases that came out of Southwest Detectives.</p>



      <div alignment="true" id="illustration_3" class="sticky sticky-top-left"><img src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day3/lockhart_day3_g.jpg"></div>



      <p>There were particulars to sort out: Should the feds take over the investigation? Was Lockhart the primary target, or should a bigger name like Jerry &ldquo;Boog&rdquo; Brooks be the main focus?</p>


      <p>Left unsaid was whether the ATF had done any soul-searching over whether it had been a good idea to pay Lockhart to continue to traffic in the very things that had proven to be his downfall so many times in the past. &ldquo;Guys like that are always
        teetering on a line,&rdquo; Walker would later say. &ldquo;Sometimes they jump over.&rdquo;</p>
      <p>A dose of unsettling news soon followed.</p>
      <p>George Fetters, a detective in the Homicide Unit, contacted Murray about a case he&rsquo;d just picked up. Fetters had been on the job for more than 30 years, and had worked with Joe&rsquo;s father back in the 1980s and &rsquo;90s, when both
        were young cops in the Badlands of North Philly, tasked with tracking down murder suspects. Just hearing Fetters&rsquo; voice reminded Murray of how badly he wanted to be in Homicide.</p>
      <div id="illustration_3-trigger-release" class="trigger">&nbps;</div>

      <p>Fetters only had bare-bones information. Someone had walked up behind a young guy on tiny Norfolk Street near 55th in West Philly in the wee small hours on Aug. 22, and&nbsp;<a href="http://6abc.com/news/deadly-shooting-in-cobbs-creek/951977/">shot him</a>&nbsp;several
        times without warning.</p>



      <p>Doctors at Penn Presbyterian Medical Center did what they could, but the victim didn&rsquo;t make it. His name was Hassan Williams.</p>


      {% set inline = ["illustration_4", "right", "60%", "0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day3/lockhart_day3_h.jpg","data-aos=fade-left data-aos-duration=2000"] %} {% include "partials/inline-illustration.html"%}
      <div alignment="true" id="illustration_5-trigger" class="trigger">&nbps;</div>

      <p>The murder scene was only a few blocks away from where Lawrence Downs had been shot. Perhaps, Fetters said, the two cases were connected. They had retraced Williams&rsquo; final steps. He was cut down just a few minutes after he stepped outside
        of an old watering hole on Baltimore Avenue, the Commodore Lounge.</p>







      <p>Murray recognized the Commodore from digging recently in the Lockhart family files. On Oct. 1, 2008, Michael Lockhart&rsquo;s father walked out of the Commodore and was shot 22 times by a man clutching an AK-47, supposedly over an old unpaid debt.
        The shooter, later identified as Jabok Timbers, is serving a 15- to 30-year prison sentence.</p>


      <div alignment="true" id="illustration_5" class="sticky sticky-top-left"><img src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day3/lockhart_day3_i.jpg"></div>



      <p>Whether the Downs and Williams shootings were linked at all was unclear to Murray. But the proximity of the two shootings &mdash; and the bar&rsquo;s link to Lockhart&rsquo;s father &mdash; made Murray think more about his family history, and the
        possibility that some of this bloodshed was fallout from a seven-year-old slaying.</p>


  <div id="illustration_5-trigger-release" class="trigger">&nbps;</div>
  {% include "partials/subscribe.html"%}
      <p>It had been 11 days since Lockhart stole three guns from Jerry &ldquo;Boog&rdquo; Brooks, the head of a small West Philly drug gang, and blamed the theft on Williams, Downs, and another man, Kashif Love. One was dead, and another&nbsp;was paralyzed.
        What would happen to the third?</p>
      <p>The longer it took Murray to get Lockhart in custody, the more likely it seemed that somebody else would end up riddled with bullets.</p>
      <p>Still, he wanted to move carefully. Lockhart tended to be armed. It didn&rsquo;t seem wise to try to grab him in North or West Philly, in neighborhoods filled with children. So Murray reached out to the ATF with a small request: Could the feds ask
        their asset to come in for a meeting?</p>

        <div class="adUnitWrapper containerMedia adUnitWrapper-center" alignment="true">
            <div class="adUnit" alignment="true">
                <div id="div-gpt-ad-mrec-22" alignment="true">
                    <script alignment="true" type="text/javascript">
                        // <![CDATA[
                        cX.callQueue.push(['invoke', function() {
                            googletag.cmd.push(function() {
                                googletag.display('div-gpt-ad-mrec-22');
                            });
                        }]);
                        // ]]>
                    </script>
                </div>
            </div>
        </div>

      <p>Around lunchtime on Sept. 11, 2015, Lockhart made his way to the U.S. Custom House, an elegant, Depression-era art deco building at Second and Chestnut Streets in the heart of Philadelphia&rsquo;s historic district.</p>



      <p>The Custom House mostly attracts travelers who need to obtain passports, but the ATF occupies office space there, too. Lockhart headed to a small conference room on the second floor, and made some small talk with a few agents. For all he knew, this
        was just a conversation about the next handful of guns he might help them take off the streets.</p>


      {% set absolute = ["illustration_6", "right", "50%", "0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day3/lockhart_day3_j.jpg","data-aos=fade data-aos-duration=2000"] %} {% include "partials/absolute-illustration.html"%}

      <p>But then a door swung open, and in walked Murray.</p>
      <p>Lockhart knew something was up, but he kept smiling and chatting with the agents.</p>
      <p>&ldquo;When I saw how he interacted with the feds, I knew what kind of person I was dealing with,&rdquo; Murray would later say. &ldquo;He was a bulls&mdash;er, a con man.&rdquo;</p>



      <p>Murray wasted little time explaining why he was there.</p>
      <p>&ldquo;You&rsquo;ve been identified in a shooting,&rdquo; he told Lockhart. &ldquo;You&rsquo;re under arrest.&rdquo;</p>
      <p>Lockhart seemed unfazed. Murray was another obstacle to overcome, another person who needed to be persuaded. There might be a way out of this trap.</p>
      <p>Murray had so many questions for Lockhart, but this wasn&rsquo;t the place to ask them. He needed him alone. He needed him back in the Southwest Detectives office where he had spent weeks rehearsing for this moment.</p>
      <div class="comingtomorrow">
        <span class="title">Coming tomorrow:</span> Detective Joe Murray finally gets to interrogate Michael Lockhart and finds surprising information on the suspect’s cellphone.
      </div>

    </div>
  </div>


</div>
