<div class="container" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-6 col col-md-offset-3" alignment="true">
            <div class="byline-section">
                <div class="byline">
                    Story by <a href="mailto:dgambacorta@philly.com">David Gambacorta</a><br>
                    <small>Illustrations by <a href="mailto:ajunod@phillynews.com">Amy Junod</small></a>
                    <div class="custom-social-share" alignment="true">&nbsp;</div>
                </div>
                <div class="dateline">Monday, November 13, 2017</div>
            </div>

            <!-- <div class="subHead">Day One: Fathers and Sons</div> -->
            <p class=""><span class="imgDrop letterD">D</span>etective Joe Murray lumbered toward the Justice Juanita Kidd Stout Center for Criminal Justice on a steamy mid-August morning in 2015.</p>
            <p>The 17-story building, planted a few blocks from City Hall, practically oozed misery from its cheerless gray exterior.</p>
            <p>Cops, prosecutors, defense attorneys, and relatives of victims and defendants jostled for space near a handful of lobby elevators, bracing for the slow, uncomfortable ride that awaited them all. Stragglers smoked cigarettes outside in the
                91-degree heat.</p>
            <p>This place was a second home for Murray. He&rsquo;d killed more hours than he cared to count pacing its narrow hallways, waiting to testify in one case or another.</p>
            <p>But now his cellphone started to rattle, and he stopped in his tracks.</p>
            <p>At 35, Murray was tall and trim with a narrow face and close-cropped brown hair. He favored slim-cut suits and skinny ties that would&rsquo;ve been more at home on&nbsp;<em>Mad Men</em> than&nbsp;<em>CSI</em>, a look that most of his peers
                didn&rsquo;t bother attempting to replicate.</p>
            <p>He&rsquo;d spent much of the last decade assigned to Southwest Detectives, where slow days were about as common as a summer snowstorm. An average year might leave detectives at Southwest&rsquo;s squat brick headquarters at 55th and Pine with
                several hundred shootings to investigate, in addition to a jumble of assaults and robberies.</p>


            <!-- "left, center, right", "width", "opactiy", "boot", image"  -->
            {% set absolute = ["illustration_1", "right", "50%", "0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day1/lockhart_day1_g_mini.jpg","data-aos=fade data-aos-duration=2000"] %} {% include "partials/absolute-illustration.html"
            %}



            <p>But that was the job. And Murray had been practically born into it. His father, Joe &ldquo;Reds&rdquo; Murray, was a cop who insisted on walking a beat along Jewelers Row in his late 50s instead of retiring. Joe&rsquo;s grandfather and two
                uncles had been cops, too. &ldquo;Reds&rdquo; thought his son might try college after high school, but he headed straight for the Police Academy instead. As soon as he got on the force, he took his grandfather&rsquo;s old badge number.</p>
            <p>Outside of then-Police Commissioner&nbsp;<a href="http://www.phillymag.com/citified/2015/10/15/police-commissioner-charles-ramsey-corruption/">Charles Ramsey</a>, Murray was also one of the best-known cops in the city. Long before anyone else
                in the Police Department,&nbsp;<a href="https://whyy.org/articles/good-work-joe-murray-the-tweeting-detective/">he used his personal Twitter account</a>&nbsp;to try&nbsp;to show people that he wasn&rsquo;t much different from any other
                thirtysomething living in the city; he just happened to wear a badge to work everyday.</p>
            <p>His tweets lurched from funny and self-deprecating &mdash; &ldquo;Just had $20 worth of Wawa food on the touch screen then hit cancel and walked out. Big step for me.&rdquo; &mdash; to offering particulars about unsolved crimes. This approach
                won him thousands of followers and some&nbsp;<a href="http://www.philly.com/philly/columnists/20150301_Detective_Joe_Murray__author_of_tweets_that_matter.html">glowing media coverage</a>, but it pissed off some of the department&rsquo;s
                older bosses, who didn&rsquo;t think a detective should be releasing information to the public without going through the chain of command.</p>
            <p>Blowback over his Twitter stardom had thus far prevented Murray from reaching his ultimate goal: to work in the Homicide Unit.</p>
            <p>One uncle, Dennis Murray, had been a sergeant in Homicide, and Joe came to view the unit as something that was available only to the department&rsquo;s best investigators.</p>

            <div class="adUnitWrapper containerMedia adUnitWrapper-center" alignment="true">
                <div class="adUnit" alignment="true">
                    <div id="div-gpt-ad-mrec-21" alignment="true">
                        <script alignment="true" type="text/javascript">
                            // <![CDATA[
                            cX.callQueue.push(['invoke', function() {
                                googletag.cmd.push(function() {
                                    googletag.display('div-gpt-ad-mrec-21');
                                });
                            }]);
                            // ]]>
                        </script>
                    </div>
                </div>
            </div>

            <p>But mostly he wanted to land there out of admiration for his father, who developed a reputation in the 1980s and &rsquo;90s for being particularly adept at capturing murder suspects in the Badlands of North Philly. &ldquo;Reds&rdquo; Murray
                was so good, locking up more than 50 accused killers by his count, that a notorious gunman named Jose &ldquo;Little Bert&rdquo; DeJesus once put a contract out on his life.</p>
            <p><em>That</em>&nbsp;was the kind of work Joe wanted to do. But for now, he was stuck chasing criminals west of the Schuylkill.</p>
            <p>He grabbed his phone and answered the call. A shooting, he was told, had just been reported in West Philly, on Angora Terrace near 55th.</p>
            <p>That&rsquo;s strange, he thought. It was unusual to have somebody shot before lunchtime, even in this city.</p>

        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <img style="padding:10px 0 30px;" data-aos="zoom-in-down" src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day1/lockhart_day1_b_mini.jpg">
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-6 col col-md-offset-3" alignment="true">

            <p>Murray drove out to the scene, a sloping, tree-lined block of apartments and houses with wide front porches and brick columns that climbed to the second floor. His eyes fell to 21 scattered shell casings, shimmering in the sun.</p>
            <p>&ldquo;Holy s&mdash;,&rdquo; he muttered.</p>
            <p>There was one victim, a 31-year-old named Lawrence Downs, who by then had been raced in the back of a police cruiser to the Hospital of the University of Pennsylvania.</p>

            <!-- "left, center, right", "width", "opactiy", "boot", image"  -->
            {% set absolute = ["illustration_3", "left", "30%", "0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day1/lockhart_day1_e_mini.jpg","data-aos=fade data-aos-duration=2000"] %} {% include "partials/absolute-illustration.html"
            %}

            <p>When Murray reached an official at the hospital, he was told that Downs was lost in a coma. He had been hit 14 times at close range.</p>
            <p>Philly&rsquo;s trauma centers work miracles every day, but it didn&rsquo;t seem like Downs would be one of them. Murray figured the case would soon end up in the hands of a Homicide detective. He contacted the Crime Scene Unit and told them
                to get someone out to Angora Terrace to start preserving evidence.</p>
            <p>But a week later, Murray got an unexpected call from doctors at HUP. Lawrence Downs hadn&rsquo;t become another entry in the city&rsquo;s murder tally. He was alive &mdash; and now, miraculously, awake. Not only that, he was asking for a cop.</p>
            <p>Downs wanted to talk about the men who shot him.</p>



            <p class="pbreak"><span class="imgDrop letterM">M</span>ichael Lockhart decided to load up on some Percocets before the agony set in.</p>
            <p>It was late on Aug. 11, and Michael was sitting in a rowhouse on Walton Avenue in West Philly, waiting for his friend, Kerry Foster, to ink a tattoo &mdash; &ldquo;Love is Pain&rdquo; &mdash; on his ribs. The smart play seemed to be to let
                the night drift away in a warm fog of the oxycodone.</p>
            <p>But then Foster announced he had a secret to share, and that grabbed Michael&rsquo;s attention. Nobody loved secrets more than he did.</p>
            <p>Jerry &ldquo;Boog&rdquo; Brooks, the head of a small drug gang on 55th Street, had asked Foster to hide three of his guns. A minor, accidental neighborhood shooting had attracted the cops&rsquo; attention, and Brooks, pragmatic as a banker,
                worried that his stash houses might get raided. The guns needed to disappear until the heat died down.</p>
            <p>Foster pulled out a black drawstring bag and emptied its contents: a .357 Glock, a Mac-10 assault rifle, and a 9mm subcompact. Like a child sizing up presents on Christmas morning, Lockhart likely felt an old, familiar urge stir inside.</p>
            <p>After the show-and-tell, Foster carefully returned the guns to a hiding spot on the second floor of his house. Michael hung around until midnight, then left with another friend.</p>
            <!-- "left, center, right", "width", "image"  -->
            {% set absolute = ["illustration_3", "right", "40%","0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day1/lockhart_day1_f_mini.jpg", "data-aos=fade data-aos-duration=2000"] %} {% include "partials/absolute-illustration.html"
            %}





            <p>The danger and excitement of the drug gang&rsquo;s bubble in West Philly faded as Michael headed home to a quiet stretch of Nicholas Street in North Philly, not far from the Martin Luther King Recreation Center.</p>
            <p>He was 19, short and muscular with an easy smile and buckets of charm. In that neighborhood, people thought of Michael as a bright young guy who was a good example for neighborhood kids &mdash; an inner-city phoenix who&rsquo;d found a way
                to rise above his family&rsquo;s legacy of chaos and crime.</p>
            <p>Lockhart liked to believe they were right. He devoted some of his free time to volunteering with Philadelphia Ceasefire, lecturing young people about the senselessness of gun violence. It was like therapy, in a sense, an exercise to convince
                him to stay on the straight and narrow.</p>
            <p>His phone buzzed. It was Foster.</p>
            <p>&ldquo;Where the guns at?&rdquo; Foster shrieked.</p>
            <p>&ldquo;I don&rsquo;t know,&rdquo; Michael said.</p>


            {% set quote = ['"My life is on the line. I gotta get these guns back!"', ""] %} {% include "partials/left-quote.html" %}

            <p>&ldquo;My life is on the line,&rdquo; Foster sputtered. &ldquo;I gotta get these guns back!&rdquo;</p>
            <p>He could tell that Foster was sick with worry, and calmly assured him that everything would work out just fine. What Michael&nbsp;<em>didn&rsquo;t</em>&nbsp;say was that he had Brooks&rsquo; guns.</p>
            <p>Foster had unknowingly made a mistake after he finished his tattoo work. He took his wife to IHOP for a quick bite to eat, and left Michael to watch his house. Once alone, Michael stole the weapons.</p>
            <p>The following day, in what amounted to a stroke of luck for Michael, someone broke into Foster&rsquo;s house and ransacked the place while he was out with his wife. A neighbor claimed he saw three men near Foster&rsquo;s house when the break-in
                went down: Hassan Williams, Kashif Love, and Lawrence Downs.</p>

            <div class="adUnitWrapper containerMedia adUnitWrapper-center" alignment="true">
                <div class="adUnit" alignment="true">
                    <div id="div-gpt-ad-mrec-22" alignment="true">
                        <script alignment="true" type="text/javascript">
                            // <![CDATA[
                            cX.callQueue.push(['invoke', function() {
                                googletag.cmd.push(function() {
                                    googletag.display('div-gpt-ad-mrec-22');
                                });
                            }]);
                            // ]]>
                        </script>
                    </div>
                </div>
            </div>

            <p>Foster&rsquo;s panic deepened when he fielded a phone call from one of Brooks&rsquo; top lieutenants, who said he wanted to stop by to retrieve his boss&rsquo;s firearms. &ldquo;The guns not here, bro,&rdquo; Foster reluctantly told him. &ldquo;They&rsquo;re
                gone.&rdquo;</p>
            <p>Brooks fumed. Someone would have to pay for stealing what belonged to him.</p>
            <p>Michael, meanwhile, was in North Philly, standing in the shadows of the Lewis Katz School of Medicine at Temple University. Ceasefire&rsquo;s black and orange bus, plastered with its blunt slogan &mdash; &ldquo;Stop. Shooting. People.&rdquo;
                &mdash; was parked at the curb.</p>
            <p>Members of Ceasefire, along with Temple trauma experts, gathered to hear U.S. Sen. Bob Casey talk about the importance of crime-prevention strategies, like the kind of mentoring work Michael did.</p>
            <p>Michael needed to hear these sorts of messages, to let them soak into his DNA like a magic tonic.</p>
            <p>His peer-mediation efforts had helped to prevent at least one neighborhood beef from turning violent, his Ceasefire pals believed. &ldquo;I was very impressed with him,&rdquo; Marla Davis Bellamy, the nonprofit&rsquo;s director, would later
                say.</p>

            <!-- "left, center, right", "width", "image"  -->
            <!-- {% set absolute = ["illustration_4", "left", "45%","0.6", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day1/lockhart_guns_fpo_mini.jpg", "col-md-6 col col-md-offset-3"] %} {% include "partials/absolute-illustration.html" %} -->


            <!-- "left, center, right", "width", "image"  -->
            {% set absolute = ["illustration_4", "left", "55%","0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day1/lockhart_day1_c_mini.jpg", "data-aos=fade data-aos-duration=2000"] %} {% include "partials/absolute-illustration.html"
            %}


            <p>But after shaking hands with Casey and the other suits, Michael Lockhart slipped back into the soap opera about the missing guns. To this point, he hadn&rsquo;t been much more than a glorified bench player in Brooks&rsquo; gang. His father
                and namesake had been the real deal, a notorious drug dealer who went by a not-so-subtle nickname: &ldquo;Major Gangster.&rdquo;</p>
            <p>The elder Lockhart was murdered in 2008, a loss that remained a great, festering wound in his son&rsquo;s life. Brooks and his underlings had been close to Michael&rsquo;s father once upon a time, and that old bond was a young man&rsquo;s
                passport to their world.</p>
            <p>Now, as discussions centered on how Brooks should respond to the theft of his weapons, Michael emerged as a loud voice &mdash; but not one that was calling for peace. He pointed to Williams, Love and Downs as the most likely culprits. And
                in what proved to be a persuasive push, Michael told one of Brooks&rsquo; confidantes that Downs had something to do with his father&rsquo;s murder. In the world of street justice, that accusation was enough for a conviction.</p>
            <p>&ldquo;They gotta go, cuz,&rdquo; Michael later told Foster. &ldquo;Boog green-lighted them.&rdquo;</p>
            <p>Their death warrants, in other words, had been signed.</p>
            <p>On the morning of Aug. 18 &mdash; seven days after Brooks&rsquo; guns vanished &mdash; his underlings decided it was time to collect. They agreed to kill Downs first.</p>

            <!-- "left, center, right", "width", "image"  -->

            <p>Lockhart&nbsp;was dressed in a white T-shirt, camouflage pants and New Balance track sneakers. He huddled behind bushes on Angora Terrace with a handful of accomplices: Michael &ldquo;Spazz&rdquo; Smith-Davis, Kasheem &ldquo;Nu Nu&rdquo; Brown,
                and James &ldquo;JB&rdquo; Booker. They were locked, loaded, and ready to pounce.</p>



            {% set absolute = ["illustration_5", "right", "40%","0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day1/lockhart_day1_d_mini.jpg", "data-aos=fade data-aos-duration=2000"] %} {% include "partials/absolute-illustration.html"
            %}

            <p>Downs came rolling down the street on his bicycle and noticed a flurry of movement out of the corner of his eyes. Michael stepped forward first,&nbsp;lifted&nbsp;his .40-caliber handgun and started firing. The others followed. Gunshots exploded
                in a furious barrage, like the final gasps of a fireworks display on the Fourth of July. The bullets ripped into Downs&rsquo; body, knocking him off his bike. He tumbled to the hot asphalt, and watched the gunmen draw closer. They were
                practically standing on top of him as they continued to fire.</p>
            <p>A neighbor ran to his side after the shooters scattered. Downs choked out four words: &ldquo;Go get my mom.&rdquo; He stayed awake long enough to see his mother step outside and faint.</p>
            <p>Lockhart and Smith-Davis jumped into a waiting Mercury Grand Marquis, with Foster behind the wheel. They peeled&nbsp;out and headed toward North Philly in stunned silence.</p>





            <p>&ldquo;Yo, that was crazy,&rdquo; Smith-Davis finally said.</p>

            {% set quote = [" Gunshots exploded in a furious barrage, like the final gasps of a fireworks display on the Fourth of July.", ""] %} {% include "partials/left-quote.html" %}

            <p>&ldquo;I could see the bullets go into him,&rdquo; Michael said. &ldquo;He&rsquo;s dead.&rdquo;</p>
            <p>A moment later, he turned to Smith-Davis and snarled: &ldquo;Yo, why the f&mdash; you ain&rsquo;t shoot?&rdquo;</p>
            <p>Smith-Davis admitted that in the heat of the moment, he froze. Each man considered the violence that had just unfolded. Something came over Michael Lockhart, a wave of emotion he didn&rsquo;t hold back.</p>
            <p>“That was for my dad,” he sobbed, as tears ran down his face. He vowed to kill them all.</p>


            <div class="comingtomorrow">
                <span class="title">Coming tomorrow:</span> Detective Murray hopes a hospital room visit with a victim may bring him closer to identifying a dangerous gunman who may be continuing down a deadly path.
            </div>

        </div>
    </div>


</div>
