<div class="container" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-3" alignment="true">
      <div class="byline-section">
        <div class="byline">
          Story by <a href="mailto:dgambacorta@philly.com">David Gambacorta</a><br>
          <em> Illustrations by <a href="mailto:ajunod@phillynews.com">Amy Junod</a></em>
          <div class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">Tuesday, November 14, 2017</div>
      </div>
      <!-- <div class="subHead">Day Two: Chasing A Shadow</div> -->
      <p class=""><span class="imgDrop letterD">D</span>etective Joe Murray hurried over to the Hospital of the University of Pennsylvania, anxious to get a few minutes with Lawrence Downs.</p>


      <p>He was on a first-name basis with the guards in the lobby, thanks to years of repeated visits to gunshot victims. After a few quick hellos, he asked for Downs' room number and headed toward the sterile realm of the intensive care unit.</p>

      <p>It was a delicate thing, trying to interview someone who had survived a brush with death. Murray always tried to keep visits like this short — get in, ask a few questions, and get out before the victim became too upset.</p>

      <p>Downs was stretched out on a hospital bed, surrounded by machines and tubes. His short hair was graying on top, and his round face was ringed by a scraggly beard. He was <a href="http://www.philly.com/philly/news/crime/philly-undercover-gangster-part-1.html">lucky to have survived being shot 14 times</a>,
        but at age 31, he was now paralyzed from the waist down. He'd never walk his three kids to school again.</p>

      <p>You feel up to talking? Murray asked. Downs said yeah.</p>

      <p>The conversation moved slowly; Downs' memory cut in and out like a signal from a faraway radio station. But he was clear about one detail: The expression on the face of the first man who shot him.</p>

      <p>"He looked at me," Downs said, "like he hated me."</p>

      {% set absolute = ["illustration_1", "right", "50%", "0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day2/lockhart_day2_b_mini.jpg","data-aos=fade data-aos-duration=2000"] %} {% include "partials/absolute-illustration.html"
      %}


      <p>Downs told Murray he didn't know the names of any of the shooters, but he remembered seeing some of them in a Mercury Grand Marquis just before he was ambushed.</p>

      <p>The car made several slow loops through his neighborhood, and he swore the occupants were all staring at him. He knew something was wrong and tried to pedal back to his house as fast as he could.</p>

      <p>Murray left the hospital without much more than that. So the shooting <i>was</i> personal, he decided. It was a small piece of the puzzle, but it wasn't nothing.</p>

      <p>He drove back to Downs' neighborhood to look for anything he might have missed. A visit to a day-care center netted a small surprise, a blurry snippet of surveillance footage that showed three gunmen running away from Angora Terrace seconds after
        they pulled off their brazen ambush.</p>


      <p>Murray tried a corner store next, and found something even better. Downs had stopped inside the shop a few minutes before he was shot; video footage showed another man had also walked in, looked at Downs, and darted outside. Murray stared at the
        recording again. There was a tattoo on the man's right forearm, elaborate lettering that spelled out "ISK."</p>

      <p>Now he was intrigued.</p>

      <p>He began searching a computer database of mug shots of men who had been arrested in West Philly, trying to find someone who had a tattoo that matched the man in the footage. After six or seven hours of searching, he saw a familiar image fill the
        screen: an "ISK" tattoo. It belonged to Iskeia Ballard, a 35-year-old with priors for aggravated assault and robbery.</p>

      <p>The little victory gave Murray a shot of adrenaline, and made him want to untangle the mystery of Downs' shooting even more. Hunting down a clue like this could mean the difference between a case getting solved or languishing for years; it was one
        reason why Murray's clearance rate was more than 50 percent higher than <a href="http://www.philly.com/philly/news/crime/philly-gun-violence-police-shooting-intel-20171013.html">the average</a> in Southwest Detectives.</p>
        {% set quote = ['The little victory gave Murray a shot of adrenaline, and made him want to untangle the mystery of Downs’ shooting even more.', ""] %} {% include "partials/left-quote.html" %}

      <p>Yet there was still plenty of other cases vying for his attention. Philly's homicide rate had dropped to near-historic lows during the last decade, but the city was still home to staggering deep poverty, a broken education system, and a seemingly
        endless pipeline of illegal guns.</p>

      <p>A few days later, the phone rang inside Southwest Detectives, and Murray happened to answer. An anonymous caller wanted to know who was investigating the Lawrence Downs case.</p>

      <p>"I have it," Murray said.</p>

      <div class="adUnitWrapper containerMedia adUnitWrapper-center" alignment="true">
          <div class="adUnit" alignment="true">
              <div id="div-gpt-ad-mrec-21" alignment="true">
                  <script alignment="true" type="text/javascript">
                      // <![CDATA[
                      cX.callQueue.push(['invoke', function() {
                          googletag.cmd.push(function() {
                              googletag.display('div-gpt-ad-mrec-21');
                          });
                      }]);
                      // ]]>
                  </script>
              </div>
          </div>
      </div>

      <p>"You should take a look at a guy named Michael Lockhart," the caller said.</p>

      <p>The line went dead.</p>

      <p>Any tip was a welcomed one, especially on a case that wasn't exactly front-page news. Murray looked up Lockhart's address. What's a North Philly kid doing down here? he wondered.</p>

      <p>He dug deeper, and found records for Lockhart's father. The <a href="http://www.philly.com/philly/multimedia/15824602.html">late Michael Lockhart</a> had a rap sheet that lived up to his "Major Gangster" nickname, with arrests for robbery, drug
        possession, and aggravated assault stretching back to 1995. He dealt crack around 55th and Baltimore in West Philly, where he employed a handful of corner boys.</p>

      <p>Murray sifted through more files. He read about the younger Lockhart's first brush with the law at age 14, when he and his brother robbed a group of Temple University students at gunpoint. They were caught by an off-duty detective, and Lockhart
        spent eight months in a city jail after he pleaded guilty to criminal conspiracy.</p>





      <p>Afterward, he tried to resume 8th grade classes at Frederick Douglass Charter School but was tripped up by a growing obsession with guns. A classmate went digging through Lockhart's schoolbag one day, and discovered that he had two Glocks hidden
        inside. That stunt led to him being sent to Glen Mills Schools, the last remaining option for teens who burn through all of their second chances.</p>


      <p>Murray started to sketch a portrait of Lockhart. Here was a potential suspect who had a knack for getting his hands on a gun and making bad decisions. "He was doing gun robberies as a juvenile," Murray would later say. "That's worrisome."</p>

      {% set absolute = ["illustration_2", "left", "40%", "0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day2/lockhart_day2_c_mini.jpg","data-aos=fade data-aos-duration=2000"] %} {% include "partials/absolute-illustration.html"
      %}


      <p>Within days, Murray assembled a photo array of possible suspects and went back to the hospital, back to Downs' bedside. When Murray held up a photo of Lockhart, the detective noticed something different in Downs, a fire in his eyes.</p>

      <p>"That's him," Downs said.</p>

      <p class=""><span class="imgDrop letterA">A</span> few days after Lawrence Downs was shot, Michael Lockhart began fielding phone calls that unsettled him.</p>

      <p>Several acquaintances told him that Hassan Williams — one of the guys Michael had framed for the theft of Jerry "Boog" Brooks' guns — was telling others that Michael was one of the gunmen.</p>

      <p>He needed to tamp this talk down, and quick. On the one hand, he'd been eager to participate in the shooting; it boosted his standing with Brooks and his underlings, who now referred to him by his father's old nickname: "MG," for Major Gangster.
        But Michael didn't want the word to spread <i>too</i> far.</p>

      <p>In addition to his volunteer work with the anti-violence nonprofit Philadelphia Ceasefire and newfound role as a cold-blooded triggerman with Brooks' gang, Michael had another side hustle. He was, incredibly, working for the federal Bureau of Alcohol,
        Tobacco, Firearms and Explosives in a discreet role that would have made his friends in the gang furious.</p>

      <p>Even from a young age, <a href="http://www.philly.com/philly/news/crime/214699261.html">his fate seemed grim</a>. His male role models had nearly all followed paths that led to prison. One uncle was doing life for murder, and another was locked
        up for 11 years for assaulting a police officer.</p>

      <p>And then there was Michael's father. He stood only 5-foot-3, but he cut a towering figure in his son's imagination. Michael was in kindergarten when he saw his father selling drugs for the first time. He had little contact other than his father's
        occasional prison phone calls, and birthday cards with a $20 bill.</p>

      <p>"He helped a lot of people, but he hurt a lot of people, too," Michael once said, suggesting that his father's good and bad traits somehow balanced out in the end.</p>

      <p>But the truth was uglier. "My dad killed people," he said. "I knew from hearing stories from my uncles, his friends, my stepmom. My dad shot seven people because they shot at a neighbor's house, thinking it was ours."</p>

      <div alignment="true" id="illustration_3-trigger" class="trigger">&nbps;</div>
      <div alignment="true" id="illustration_3" class="sticky sticky-top-right"><img src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day2/lockhart_day2_d_mini.jpg"></div>


      <p>When he was a boy of 5 or 6, Michael discovered a handgun tucked under his father's bed. Instead of scaring him, the weapon cast a spell on him. Sneaking into the bedroom to touch the gun became a thrilling daily routine, a temptation he couldn't
        resist.</p>

      <p>He remembered dodging bullets when someone shot up his home in North Philly because an uncle had stolen from a local drug dealer. A family friend had lain on top of Michael to shield him from the gunshots.</p>

      <p>These experiences were emotional and psychological quicksand; he was up to his neck in influences that were dragging him toward a life of violence and pain. His mother once said she didn't expect him to live past 12. And Michael freely admitted
        that he found it difficult to walk around his neighborhood without a gun.</p>

      <p>"Guns get you money. If you have money, a gun will keep you safe," he once said. "It protects people who can't fight."</p>

      <p>Years later, people outside of Michael's family tried to help, starting with a then-assistant U.S. Attorney named Robert Reed. He had heard Michael deliver a speech at a forum on youth-violence prevention in 2012 and was struck by Michael's eloquence
        and openness. Reed introduced himself.</p>

      <p>Michael was just 16, young enough to avoid repeating all of his father's sins.</p>

      {% set quote = ['"Guns get you money. If you have money, a gun will keep you safe. It protects people who can’t fight."', ""] %} {% include "partials/left-quote.html" %}

      <p>Reed got him involved with a juvenile sports program run by the U.S. Attorney's Office, and connected him with Philadelphia Ceasefire. The city gave him a part-time job as a landscaper. These were meant to be his first steps on the road to a healthier
        life, one that wouldn't require him to break the law to make money.</p>

      <p>Michael warmed to these positive influences, and spoke about changing his life with a sincerity that convinced even the most skeptical adults. The further he got from his first teenage arrest, the more people thought he'd actually be able to beat
        the odds. "I saw a young man who suffered from childhood trauma, but who was trying to be an outreach worker," Colwin Williams, who worked with Michael at Ceasefire, would later remark. "No one grows up saying, 'I want to be a murderer, I want
        to be on death row.' "</p>

      <p>But in quieter moments, Michael would tell Reed that he felt torn. It was hard to resist the magnetic pull of the streets, even though he knew they would only lead to a steady progression of courtrooms and jail cells.</p>



      <p>Michael even tried to avoid temptation by moving in with a relative in Harrisburg in 2013, putting 100 miles between himself and Philly — but only for a few months. "At that time, I was doing real good," he'd later say. "I left Philly, but then
        I came back. I'm really not sure what happened. I got sucked back in."</p>
      <p>When Reed heard him speak at a Don't Fall Down in the Hood event not long afterward, he was troubled by what he heard. Michael discussed his criminal past, but not with his well-practiced deep regret. He almost seemed excited to relive it all.</p>

      <p>On Aug. 21, as rumors continued to swirl about Michael's involvement in Downs' shooting, he decided to call the man he believed to be spreading them: Hassan Williams.</p>

      <p>The two had been so close, they considered each other family. Like Michael, Williams, 21, was allowed to hang around Jerry Brooks' gang because some of its older members had been friends with his father. Williams was also tight with Lawrence Downs;
        the two often went to clubs and the movies together.</p>
        <div id="illustration_3-trigger-release" class="trigger">&nbps;</div>

        <div class="adUnitWrapper containerMedia adUnitWrapper-center" alignment="true">
            <div class="adUnit" alignment="true">
                <div id="div-gpt-ad-mrec-22" alignment="true">
                    <script alignment="true" type="text/javascript">
                        // <![CDATA[
                        cX.callQueue.push(['invoke', function() {
                            googletag.cmd.push(function() {
                                googletag.display('div-gpt-ad-mrec-22');
                            });
                        }]);
                        // ]]>
                    </script>
                </div>
            </div>
        </div>

      <p>Michael mentioned the rumors he'd heard. Williams insisted that he hadn't said anything about Michael shooting Lawrence Downs. They went back and forth for a little while, and then Michael ended the call by telling his friend that he loved him.</p>

      <p>That same day, Brooks called Foster. "Make sure MG get down here," he said. "We got to take care of something."</p>

      <p>Brooks still wanted retribution for the stolen guns.</p>


    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <img style="padding:10px 0 30px;" data-aos="zoom-in-down" src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day2/lockhart_day2_e_mini.jpg">
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-3" alignment="true">


      <p>Hours later, Lockhart left his house on stoop-lined Nicholas Street and climbed into Foster's Grand Marquis and headed to West Philly.</p>

      <p>There was still time for him to do the right thing, to return the guns and prevent more bloodshed. After all, he was a good storyteller, easily capable of whipping up a convincing tale that could explain how the weapons had ended up in his possession.</p>

      {% set inline = ["illustration_5", "right", "60%", "0.8", "http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day2/lockhart_day2_f_mini.jpg","data-aos=fade-left data-aos-duration=2000"] %} {% include "partials/inline-illustration.html"
      %}

      <p>It was too late for Lawrence Downs, who was going to spend the rest of his days in a wheelchair. But the lives of two other men still hung in the balance. This was a moment for Michael's better angels to emerge.</p>

      <p>Back in the car, Michael produced a semiautomatic handgun and hid it in the glove compartment. He turned hard to Foster.</p>

      <p>"We trying to get Hassan tonight," he said.</p>

      <div class="comingtomorrow">
        <span class="title">Coming tomorrow:</span> The detective closes in on the complicated young man behind a violent mystery, but then shocking news interrupts his pursuit.
      </div>
    </div>
  </div>


</div>
