{% set page = "page4" %}
{% set headline = "Interrogation" %}
{% set subhead = "Day 4" %}

{% extends "pagetemplate.html" %} {% block styles %}
<!--removeIf(production)-->
<!--build:css min-files/styles.min.css-->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/pages/page4.css">
<!--endbuild-->
<!--endRemoveIf(production)-->
{% endblock %}

{% block heroimage %}
<img src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day4/lockhart_day4_arm.jpg" alt="">
{% endblock %}



{% block bodycontent %}
{% include "../nj-templates/bodytext/page4.html" %}
{% endblock %}

{% block jsfile %}
<!--removeIf(production)-->
<!--build:js min-files/main.min.js -->
<script src="js/pages/page4.js"></script>
<script src="js/main.js"></script>
<!-- endbuild -->
<!--endRemoveIf(production)-->
{% endblock %}
