{% set page = "page1" %}
{% set headline = "In Their Fathers’ Footsteps" %}
{% set subhead = "Day 1" %}


{% extends "pagetemplate.html" %} {% block styles %}
<!--removeIf(production)-->
<!--build:css min-files/styles.min.css-->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/pages/page1.css">
<!--endbuild-->
<!--endRemoveIf(production)-->
{% endblock %}


{% block heroimage %}
<img src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day1/lockhart_day1_a.jpg" alt="">
{% endblock %}


{% block headercontent %}

<div class="headerIntro">
    <div class="heroImage part1hero"><img src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day1/lockhart_day1_a.jpg" alt="">
        <!-- <h1>In Their Fathers’ Footsteps</h1> -->
    </div>
    <div class="heroText">
        <!-- <div class="part">Part 1</div> -->
        <h1>In Their Fathers’ Footsteps</h1>
    </div>

</div>
{% endblock %} {% block bodycontent %} {% include "../nj-templates/bodytext/page1.html" %} {% endblock %} {% block jsfile %}
<!--removeIf(production)-->
<!--build:js min-files/main.min.js -->
<script src="js/pages/page1.js"></script>
<script src="js/main.js"></script>
<!-- endbuild -->
<!--endRemoveIf(production)-->
{% endblock %}
