{% set page = "page2" %}
{% set headline = "Portrait of a Suspect" %}

{% extends "pagetemplate.html" %} {% block styles %}
<!--removeIf(production)-->
<!--build:css min-files/styles.min.css-->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/pages/page2.css">
<!--endbuild-->
<!--endRemoveIf(production)-->
{% endblock %}

{% block heroimage %}
<img src="./assets/hospital2.jpg" alt="">
{% endblock %}


{% block headercontent %}

<div class="headerIntro">
    <div class="heroImage part2hero"><img src="./assets/hospital2_fpo.jpg" alt="">

    </div>
    <div class="heroText">
        <div class="title">Undercover Gangster</div>
        <div class="part">Part 2</div>
        <h1></h1>
    </div>

</div>


{% endblock %} {% block bodycontent %} {% include "../nj-templates/bodytext/page2.html" %} {% endblock %} {% block jsfile %}
<!--removeIf(production)-->
<!--build:js min-files/main.min.js -->
<script src="js/pages/page2.js"></script>
<script src="js/main.js"></script>
<!-- endbuild -->
<!--endRemoveIf(production)-->
{% endblock %}
