{% set page = "page3" %}
{% set headline = "Another Twist, Another Crime Scene" %}
{% set subhead = "Day 3" %}

{% extends "pagetemplate.html" %} {% block styles %}
<!--removeIf(production)-->
<!--build:css min-files/styles.min.css-->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/pages/page3.css">
<!--endbuild-->
<!--endRemoveIf(production)-->
{% endblock %}

{% block heroimage %}
<img src="./assets/hospital2_fpo.jpg" alt="">
{% endblock %}


{% block headercontent %}

<div class="headerIntro">
    <div class="heroImage"><img src="./assets/hospital2_fpo.jpg" alt=""></div>
</div>
<h1>Undercover Gangster Part 3: </h1>

{% endblock %}

{% block bodycontent %}
{% include "../nj-templates/bodytext/page3.html" %}
{% endblock %}

{% block jsfile %}
<!--removeIf(production)-->
<!--build:js min-files/main.min.js -->
<script src="js/pages/page3.js"></script>
<script src="js/main.js"></script>
<!-- endbuild -->
<!--endRemoveIf(production)-->
{% endblock %}
