{% set page = "page5" %}
{% set headline = "The Reckoning" %}
{% set subhead = "Day 5" %}

{% extends "pagetemplate.html" %} {% block styles %}
<!--removeIf(production)-->
<!--build:css min-files/styles.min.css-->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/pages/page5.css">
<!--endbuild-->
<!--endRemoveIf(production)-->
{% endblock %}

{% block heroimage %}
<img src="http://media.philly.com/storage/inquirer/special%20project%20media/lockhart/artwork_day5/lockhart_day5_i.jpg" alt="">
{% endblock %}



{% block bodycontent %}
{% include "../nj-templates/bodytext/page5.html" %}
{% endblock %}

{% block jsfile %}
<!--removeIf(production)-->
<!--build:js min-files/main.min.js -->
<script src="js/pages/page5.js"></script>
<script src="js/main.js"></script>
<!-- endbuild -->
<!--endRemoveIf(production)-->
{% endblock %}
