{% include "partials/shell/head.html" %} {% block styles %}{% endblock %}


<div class="headerIntro">
    <div class="heroImage part1hero">
        {% block heroimage %}{% endblock %}

    </div>
    <div class="heroText">
        <div id="invnav-top" class="heroNav">
            <div class="title">Undercover Gangster <span class="mobilearrow"><i class="fa fa-angle-down" aria-hidden="true">&zwj;</i>
</span></div>

            <div class="parts">
                <div class="part {% if page == 'page1' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">In Their Fathers’ Footsteps</div>
                        <div class="pubdate">Nov. 13</div>
                    </div>
                </div>

                <div class="part notready {% if page == 'page2' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">Portrait of a Suspect</div>
                        <div class="pubdate">Nov. 14</div>
                    </div>
                </div>
                <div class="part notready {% if page == 'page3' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">Another Twist, Another Crime</div>
                        <div class="pubdate">Nov. 15</div>
                    </div>
                </div>
                <div class="part notready {% if page == 'page4' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">Interrogation</div>
                        <div class="pubdate">Nov. 16</div>
                    </div>
                </div>
                <div class="part notready {% if page == 'page5' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">The Reckoning</div>
                        <div class="pubdate">Nov. 17</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="part">Part 1</div> -->

        <h1>{{headline}}<span class="prehead">{{subhead}}</span></h1>
    </div>

    <h1 class="mobilehead">{{headline}}<span class="prehead">{{subhead}}</span></h1>


</div>



{% block bodycontent %}{% endblock %}

<div class="footerNav" id="article-end">
    <h2>Undercover Gangster</h2>
    <!-- <div class="byline">By David Gambacorta</div> -->
    <p><span class="footintro">This series is based</span> on hundreds of pages of court documents, police records and newspaper accounts, as well as interviews with: Michael Lockhart, Yolanda Lockhart, Audrey Wallace, Lawrence Downs, Mary Anne Murray, Philadelphia Police Detective Joe Murray, Officer Joe "Reds" Murray, Lt. John Walker, Detective George Fetters, Assistant District Attorney Cydney Pope, Senior Deputy Attorney General Robert Reed, ATF Special Agent Charlene Hennessy, Philadelphia Prisons spokeswoman Shawn Hawes, Marla Davis Bellamy and Colwin Williams of Philadelphia Ceasefire, attorneys Edward Meehan and Anthony Petrone, and Scott Charles of Temple University Hospital. Staff writer Barbara Laker contributed reporting.​​</p>
    <div class="footertabs" id="invnav-bottom">
        <div class="part {% if page == 'page1' %}selected{% endif %}">
            <div class="name">In Their Fathers’ Footsteps</div>
            <div class="pubdate">Nov. 13</div>
        </div>
        <div class="part notready {% if page == 'page2' %}selected{% endif %}">
            <div class="name">Portrait of a Suspect</div>
            <div class="pubdate">Nov. 14</div>
        </div>
        <div class="part notready {% if page == 'page3' %}selected{% endif %}">
            <div class="name">Another Twist, Another Crime</div>
            <div class="pubdate">Nov. 15</div>
        </div>
        <div class="part notready {% if page == 'page4' %}selected{% endif %}">
            <div class="name">Interrogation</div>
            <div class="pubdate">Nov. 16</div>
        </div>
        <div class="part notready {% if page == 'page5' %}selected{% endif %}">
            <div class="name">The Reckoning</div>
            <div class="pubdate">Nov. 17</div>
        </div>
    </div>
    <div class="credits">
        <span class="creditItem"><span class="title">Story:</span> David Gambacorta</span>
        <span class="creditItem"><span class="title">Illustrations:</span> Amy Junod Placentra</span>
        <span class="creditItem"><span class="title">Online production and design:</span> Jared Whalen and Garland Potts</span>
        <span class="creditItem"><span class="title">Editing:</span> James Neff</span>
        <span class="creditItem"><span class="title">Visual editor:</span> Frank Wiese</span>
        <span class="creditItem"><span class="title">Project Manager:</span> Ellen Dunkel</span>

    </div>
</div>
{% include "partials/recirc-box.html" %}
<div>{% include "partials/script-links.html" %}</div>
{% block jsfile %}{% endblock %} {% include "partials/shell/footer.html" %}
