{% include "partials/shell/head.html" %} {% block styles %}{% endblock %}


<div class="headerIntro">
    <div class="heroImage part1hero">
        {% block heroimage %}{% endblock %}

    </div>
    <div class="heroText">
        <div class="heroNav">
            <div class="title">Undercover Gangster</div>

            <div class="parts">
                <div class="part {% if page == 'page1' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">In Their Fathers’ Footsteps</div>
                        <div class="pubdate">Nov. 13</div>
                    </div>
                </div>

                <div class="part notready {% if page == 'page2' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">Portrait of a Suspect</div>
                        <div class="pubdate">Nov. 14</div>
                    </div>
                </div>
                <div class="part notready {% if page == 'page3' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">Another Twist, Another Crime</div>
                        <div class="pubdate">Nov. 15</div>
                    </div>
                </div>
                <div class="part notready {% if page == 'page4' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">Interrogation</div>
                        <div class="pubdate">Nov. 16</div>
                    </div>
                </div>
                <div class="part notready {% if page == 'page5' %}selected{% endif %}">
                    <div class="itemmarker"></div>
                    <div class="items">
                        <div class="name">The Reckoning</div>
                        <div class="pubdate">Nov. 17</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="part">Part 1</div> -->
        <h1>{{headline}}</h1>
    </div>

    <h1 class="mobilehead">{{headline}}</h1>


</div>



{% block bodycontent %}{% endblock %}

<div class="footerNav">
    <h2>Undercover Gangster</h2>
    <!-- <div class="byline">By David Gambacorta</div> -->
    <p><span class="footintro">This series is based</span> on hundreds of pages of court documents, police records and newspaper accounts, as well as interviews with: Michael Lockhart, Yolanda Lockhart, Audrey Wallace, Lawrence Downs, Mary Anne Murray, Philadelphia Police Detective Joe Murray, Officer Joe "Reds" Murray, Lt. John Walker, Detective George Fetters, Assistant District Attorney Cydney Pope, Senior Deputy Attorney General Robert Reed, ATF Special Agent Charlene Hennessy, Philadelphia Prisons spokeswoman Shawn Hawes, Marla Davis Bellamy, Colwin Williams, Edward Meehan, Anthony Petrone, Scott Charles. Staff writer Barbara Laker contributed reporting.​</p>
    <div class="footertabs">
        <div class="part {% if page == 'page1' %}selected{% endif %}">
            <div class="name">In Their Fathers’ Footsteps</div>
            <div class="pubdate">Nov. 13</div>
        </div>
        <div class="part notready {% if page == 'page2' %}selected{% endif %}">
            <div class="name">Portrait of a Suspect</div>
            <div class="pubdate">Nov. 14</div>
        </div>
        <div class="part notready {% if page == 'page3' %}selected{% endif %}">
            <div class="name">Another Twist, Another Crime</div>
            <div class="pubdate">Nov. 15</div>
        </div>
        <div class="part notready {% if page == 'page4' %}selected{% endif %}">
            <div class="name">Interrogation</div>
            <div class="pubdate">Nov. 16</div>
        </div>
        <div class="part notready {% if page == 'page5' %}selected{% endif %}">
            <div class="name">The Reckoning</div>
            <div class="pubdate">Nov. 17</div>
        </div>
    </div>
    <div class="credits">
        <!-- <span class="creditItem"><span class="title">Writing:</span> David Gambacorta</span> -->
        <span class="creditItem"><span class="title">Design:</span> Credit Name</span>
        <span class="creditItem"><span class="title">Illustrations:</span> Credit Name</span>
        <span class="creditItem"><span class="title">Design:</span> Credit Name</span>
        <span class="creditItem"><span class="title">Editing:</span> Credit Name</span>
        <span class="creditItem"><span class="title">Credit:</span> Credit Name</span>
        <span class="creditItem"><span class="title">Credit:</span> Credit Name</span>
        <span class="creditItem"><span class="title">Credit:</span> Credit Name</span>

    </div>
</div>
{% include "partials/recirc-box.html" %}
<div>{% include "partials/script-links.html" %}</div>
{% block jsfile %}{% endblock %} {% include "partials/shell/footer.html" %}
